{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- start: Footer Section -->
      <footer class="tj-footer-section footer-2 h5-footer section-gap-x" style="padding-top:0px; background: #2d0533;">
       
        <div class="footer-main-area">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-1 wow fadeInUp" data-wow-delay=".1s">
                  <div class="footer-logo">
                    <a href="{% url 'index' %}">
                      <!-- <img src=" {% static  'images/logos/logo-2.webp' %}" alt="Logos"> -->
                       <div class=" d-flex align-items-center">
                        <h4 style="color: #bd3698;">TECHSSOFT </h4><h6 style="color: #627474; font-size:15px;margin:0;">Innovations</h6>
                      </div>
                    </a>
                  </div>
                  <div class="footer-text">
                    <p>Developing personalze our customer journeys to increase satisfaction &amp; loyalty of our expansion.
                    </p>
                  </div>
                  <div class="award-logo-area">
                    <div class="award-logo">
                      <img src=" {% static  'images/footer/award-logo-white-1.webp' %}" alt="">
                    </div>
                    <div class="award-logo">
                      <img src=" {% static  'images/footer/award-logo-white-2.webp' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-2 widget-nav-menu wow fadeInUp" data-wow-delay=".3s">
                  <h5 class="title" style="color: #bd3698;">Quick Links</h5>
                  <ul>
                    
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'services' %}">Service</a></li>
                    <li><a href="{% url 'career' %}">Careers</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget footer-col-3 widget-nav-menu wow fadeInUp" data-wow-delay=".5s">
                  <h5 class="title" style="color: #bd3698;">Services</h5>
                  <ul>
                    <li><a href="{% url 'services' %}">AI Services</a></li>
                    <li><a href="{% url 'services' %}">Software</a></li>
                    <li><a href="{% url 'services' %}">Website</a></li>
                    <li><a href="{% url 'services' %}">Application</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="footer-widget widget-contact wow fadeInUp" data-wow-delay=".7s">
                  <h5 class="title" style="color: #bd3698;">Our Office</h5>
                  <div class="footer-contact-info">
                    <div class="contact-item">
                      <span>No: 10/16, Govindarajalu Street,
Odakkadu,
Tiruppur - 641 602,<br/>India.</span>
                    </div>
                    <div class="contact-item">
                      <a href="tel:+91 9962976444">+91 9962976444</a>
                      <a href="mailto:tech@techssoftinnovations.com">tech@techssoftinnovations.com</a>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tj-copyright-area-2 h5-footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="copyright-content-area">
                  <div class="copyright-text">
                    <p>© 2025&nbsp;<a href="https://techssoftinnovations.com/" target="_blank">TechssoftInnovations</a>
                      All right reserved</p>
                  </div>
                  <div class="social-links style-3">
                    <ul>
                      <li><a href="" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li><a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li><a href="" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                      <li><a href="" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="copyright-menu">
                    <ul>
                      <li><a href="{% url 'contact' %}">Privacy Policy</a></li>
                      <li><a href="{% url 'contact' %}">Terms &amp; Condition</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-1">
          <img src=" {% static  'images/shape/pattern-2.svg' %}" alt="">
        </div>
        <div class="bg-shape-2">
          <img src=" {% static  'images/shape/pattern-3.svg' %}" alt="">
        </div>
      </footer>
      <!-- end: Footer Section -->
{% endblock content %}