{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header-1.html" %}




  <div id="smooth-wrapper" style="inset: 0px; width: 100%; height: 100%; position: fixed; overflow: hidden; pointer-events: none;">
    <div id="smooth-content" style="translate: none; rotate: none; scale: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); box-sizing: border-box; width: 100%; overflow: visible;">
      <main id="primary" class="site-main">

        <div class="space-for-header"></div>

        <!-- start: Service Section -->
<section class="tj-service-section overflow-hidden section-gap section-gap-x">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sec-heading text-center">
          <span class="sub-title text-white wow fadeInUp" data-wow-delay=".3s"
            style="font-size: 23px; color: #bd3698 !important; background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">
            <i class="tji-box"></i>Our Fashion Services
          </span>
          <h3 class="sec-title title-anim" style="color:white">
            Creating <span style="color:#bd3698">Timeless Fashion Experiences</span> with Passion, Precision & Style.
          </h3>
          <br/>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="service-wrapper wow fadeInUp" data-wow-delay=".4s">
          <div class="swiper service-slider">
            <div class="swiper-wrapper">

              <!-- Fashion Design -->
              <div class="swiper-slide">
                <div class="service-item style-1">
                  <div class="service-img">
                    <img src="{% static 'images/product4.jpeg' %}" alt="">
                  </div>
                  <div class="service-icon">
                    <i class="tji-service-4"></i>
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a style="color: #bd3698">Custom Fashion Design</a></h4>
                    <p class="desc">From sketch to stitch, we create bespoke fashion pieces that capture elegance, personality, and comfort in every detail.</p>
                    <a class="text-btn" href="#">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Styling & Personal Branding -->
              <div class="swiper-slide">
                <div class="service-item style-1">
                  <div class="service-img">
                    <img src="{% static 'images/product1.jpeg' %}" alt="">
                  </div>
                  <div class="service-icon">
                    <i class="tji-service-1"></i>
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a style="color: #bd3698">Wardrobe Styling & Makeovers</a></h4>
                    <p class="desc">Transform your look with curated outfits and styling advice that highlight your individuality and boost your confidence.</p>
                    <a class="text-btn" href="#">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Fabric Sourcing -->
              <div class="swiper-slide">
                <div class="service-item style-1">
                  <div class="service-img">
                    <img src="{% static 'images/product2.jpeg' %}" alt="">
                  </div>
                  <div class="service-icon">
                    <i class="tji-service-3"></i>
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a style="color: #bd3698">Premium Fabric Selection</a></h4>
                    <p class="desc">We handpick luxurious and sustainable fabrics that deliver the perfect balance of comfort, durability, and sophistication.</p>
                    <a class="text-btn" href="#">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Fashion Marketing -->
              <div class="swiper-slide">
                <div class="service-item style-1">
                  <div class="service-img">
                    <img src="{% static 'images/product3.jpeg' %}" alt="">
                  </div>
                  <div class="service-icon">
                    <i class="tji-service-2"></i>
                  </div>
                  <div class="service-content">
                    <h4 class="title"><a style="color:#bd3698">Fashion Campaign & Branding</a></h4>
                    <p class="desc">We craft creative campaigns and digital strategies that showcase your brand’s story, style, and soul to the world.</p>
                    <a class="text-btn" href="#">
                      <span class="btn-text"><span>Learn More</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
            <div class="swiper-pagination-area white-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-shape-1">
    <img src="{% static 'images/shape/pattern-2.svg' %}" alt="">
  </div>
  <div class="bg-shape-2">
    <img src="{% static 'images/shape/pattern-3.svg' %}" alt="">
  </div>
</section>

        <!-- end: Service Section -->
        <!-- start: Service Section -->
<section class="tj-service-section-5 section-gap"style="background: #2d0533; margin-top: 80px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec-heading style-4 text-center">
          <span class="sub-title wow fadeInUp" data-wow-delay=".3s">
            <i class="tji-box"></i>Our Fashion Services
          </span>
          <h2 class="sec-title title-anim" style="color: #fff">
            Elevating Fashion with Creativity, Precision & Purpose.
          </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="service-wrapper">

          <!-- Fashion Design -->
          <div class="service-item style-5 service-stack">
            <div class="service-content-area">
              <div class="service-icon">
                <i class="tji-service-1"></i>
              </div>
              <div class="service-content">
                <h3 class="title"><a href="service-details.html">Creative Fashion Design</a></h3>
                <p class="desc">We design signature pieces that define trends — from mood boards to final production, bringing innovation and artistry into every stitch.</p>
                <a class="tj-primary-btn" href="service-details.html">
                  <span class="btn-text"><span>Learn More</span></span>
                  <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                </a>
              </div>
            </div>
            <div class="service-img">
    <img src="{% static 'images/products/p1.jpeg' %}" alt="">
            </div>
          </div>

          <!-- Brand Styling -->
          <div class="service-item style-5 service-stack">
            <div class="service-content-area">
              <div class="service-icon">
                <i class="tji-service-2"></i>
              </div>
              <div class="service-content">
                <h3 class="title"><a href="service-details.html">Visual Branding & Styling</a></h3>
                <p class="desc">We craft cohesive fashion identities — from lookbooks to campaigns — that tell your story through colors, textures, and timeless style.</p>
                <a class="tj-primary-btn" href="service-details.html">
                  <span class="btn-text"><span>Learn More</span></span>
                  <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                </a>
              </div>
            </div>
            <div class="service-img">
    <img src="{% static 'images/products/p2.jpeg' %}" alt="">            </div>
          </div>

          <!-- Sustainability -->
          <div class="service-item style-5">
            <div class="service-content-area">
              <div class="service-icon">
                <i class="tji-service-3"></i>
              </div>
              <div class="service-content">
                <h3 class="title"><a href="service-details.html">Sustainable Fashion Strategy</a></h3>
                <p class="desc">We help brands embrace ethical fashion — integrating eco-conscious fabrics, responsible sourcing, and circular design principles.</p>
                <a class="tj-primary-btn" href="service-details.html">
                  <span class="btn-text"><span>Learn More</span></span>
                  <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                </a>
              </div>
            </div>
            <div class="service-img">
    <img src="{% static 'images/products/p3.jpeg' %}" alt="">            </div>
          </div>

        </div>

        <div class="service-bottom-text">
          <p class="desc" style="color: #fff">
            <span>
              <i class="tji-box" style="color: #bd3698"></i>
              Fashion isn’t just what you wear — it’s how you express yourself.
              <a href="contact.html">Let’s create something extraordinary together.</a>
            </span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>


          <!-- start: Cta Section -->
        <section class="tj-cta-section h7-cta section-gap-x" style="margin-top: 50px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="cta-area h7-cta-inner">
                        <div class="cta-content">
                          <h6 class="title text-anim" style="font-size:40px;text-align:center"> <span style="color:#bd3698"> Techssoft </span> Innovations  Built For Business Excellence. </h6>
                          <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                            <a class="tj-primary-btn tj-primary-btn-lg" href="{% url 'contact' %}">
                              <span class="btn-text"><span>GET STARTED</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-shape-3">
            <img src="{% static 'images/shape/shape-blur.svg'%}" alt="">
          </div>
        </section>
        <!-- end: Cta Section -->



<!-- start: Fashion Client Feedback Section -->
<section class="h6-testimonial section-gap section-gap-x slidebar-stickiy-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="h6-testimonial-banner">
          <img src="./assets/images/testimonial/h6-testimonial-banner.webp" alt="">
          <a class="h6-testimonial-banner-video video-popup vbox-item" href="https://youtu.be/gXFATcwrO-U" data-autoplay="true" data-vbtype="video">
            <i class="tji-play"></i>
          </a>
        </div>
        <div class="content-wrap slidebar-stickiy">
          <div class="sec-heading style-2 style-6">
            <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>FASHION CLIENT FEEDBACK</span>
            <h2 class="sec-title title-anim">Our Happy Clients Share Their Style Stories</h2>
          </div>
          <p class="desc">From stunning couture to timeless everyday pieces, our fashion clients share how our designs elevated their confidence and personal style.</p>
          <div class="d-none d-lg-inline-flex wow fadeInUp" data-wow-delay=".6s">
            <a class="tj-primary-btn" href="contact.html">
              <span class="btn-text"><span>Explore More</span></span>
              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-wrapper h6-testimonial-wrapper wow fadeInUp" data-wow-delay=".5s">
          <div class="swiper swiper-container h6-testimonial-slider swiper-backface-hidden swiper-initialized swiper-horizontal swiper-pointer-events">
            <div class="swiper-wrapper" id="swiper-wrapper-1054b9e2795cb766c" aria-live="off" style="transform: translate3d(-1766.67px, 0px, 0px); transition-duration: 1000ms;">
              
              <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" role="group" aria-label="3 / 4" data-swiper-slide-index="2" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-3.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Ananya Rao</h4>
                          <span class="designation">Fashion Influencer</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Absolutely loved my custom gown from Techssoft Fashion! The detailing, fit, and finish were beyond perfect. I felt like a queen at my event.”</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" role="group" aria-label="4 / 4" data-swiper-slide-index="3" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-1.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Neha Sharma</h4>
                          <span class="designation">Model</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Their collection is so elegant and modern! Every outfit I wore turned heads — Techssoft’s craftsmanship is unmatched.”</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide" role="group" aria-label="1 / 4" data-swiper-slide-index="0" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-1.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Neha Sharma</h4>
                          <span class="designation">Model</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Their collection is so elegant and modern! Every outfit I wore turned heads — Techssoft’s craftsmanship is unmatched.”</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-prev" role="group" aria-label="2 / 4" data-swiper-slide-index="1" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-2.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Riya Patel</h4>
                          <span class="designation">Fashion Blogger</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Every design feels unique and classy. The team understood my style perfectly and delivered more than I expected!”</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-active" role="group" aria-label="3 / 4" data-swiper-slide-index="2" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-3.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Ananya Rao</h4>
                          <span class="designation">Fashion Influencer</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Absolutely loved my custom gown from Techssoft Fashion! The detailing, fit, and finish were beyond perfect. I felt like a queen at my event.”</p>
                  </div>
                </div>
              </div>

              <div class="swiper-slide swiper-slide-next" role="group" aria-label="4 / 4" data-swiper-slide-index="3" style="width: 421.667px; margin-right: 20px;">
                <div class="testimonial-item">
                  <div class="h6-testimonial-author-wrapper">
                    <div class="testimonial-author">
                      <div class="author-inner">
                        <div class="author-img">
                          <img src="assets/images/testimonial/client-1.webp" alt="">
                        </div>
                        <div class="author-header">
                          <h4 class="title">Neha Sharma</h4>
                          <span class="designation">Model</span>
                        </div>
                      </div>
                    </div>
                    <div class="star-ratings" style="width: 85.8125px;">
                      <div class="fill-ratings" style="width: 100%">
                        <span>★★★★★</span>
                      </div>
                      <div class="empty-ratings">
                        <span>★★★★★</span>
                      </div>
                    </div>
                  </div>
                  <div class="desc">
                    <p>“Their collection is so elegant and modern! Every outfit I wore turned heads — Techssoft’s craftsmanship is unmatched.”</p>
                  </div>
                </div>
              </div>
              
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-shape-1">
    <img src="assets/images/shape/pattern-2.svg" alt="">
  </div>
  <div class="bg-shape-2">
    <img src="assets/images/shape/pattern-3.svg" alt="">
  </div>
</section>
<!-- end: Fashion Client Feedback Section -->






        

         


        <script>
  function scrollToFormai() {
    const form = document.getElementById("ai");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormsoft() {
    const form = document.getElementById("software");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormweb() {
    const form = document.getElementById("web");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormapp() {
    const form = document.getElementById("app");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>

       

        

        
      </main>

      <!-- start: Footer Section -->
      {% include 'footer.html' %}
      <!-- end: Footer Section -->
    </div>
  </div>
  
{% endblock content %}