{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "header-1.html" %}




  <div id="smooth-wrapper" style="inset: 0px; width: 100%; height: 100%; position: fixed; overflow: hidden; pointer-events: none;">
    <div id="smooth-content" style="translate: none; rotate: none; scale: none; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); box-sizing: border-box; width: 100%; overflow: visible;">
      <main id="primary" class="site-main">

        <div class="space-for-header"></div>

        <!-- start: Service Section -->
        <section class="tj-service-section overflow-hidden section-gap section-gap-x">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="sec-heading text-center">
                  <span class="sub-title text-white wow fadeInUp" data-wow-delay=".3s" style="font-size: 23px; color: #1e8a8a ! important; background: rgba(255, 255, 255, 0.1); 
                             backdrop-filter: blur(10px);"><i class="tji-box"></i>Our
                    Services</span>
                    <h3 class="sec-title title-anim" style="color:white">Expert <span style="color:#1e8a8a"> IT Services </span>Designed
                           To Elevate Your Business.
                    </h3>
                    <br/>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid p-0">
            <div class="row">
              <div class="col-12">
                <div class="service-wrapper wow fadeInUp" data-wow-delay=".4s">
                  <div class="swiper service-slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-b8b32318b99daaa9" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-928.75px, 0px, 0px);">
                      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 356.5px; margin-right: 15px;">
                    </div>
                      
                      
                    <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 4" style="width: 356.5px; margin-right: 15px;">
                       <div class="service-item style-1">
                          <div class="service-img">
                            <img src=" {% static  'images/service/service-7.webp' %}" alt="">
                          </div>
                           <div class="service-icon">
                            <i class="tji-service-4"></i>
                          </div>
                         
                          <div class="service-content">
                            <h4 class="title"><a style="color:#1e8a8a">Artificial Intelligence</a></h4>
                            <p class="desc">We build AI solutions that automate tasks, extract insights, and boost decision-making. From chatbots to predictive analytics, our tech transforms the way businesses operate.

                               </p>
                            <a class="text-btn" onclick="scrollToFormai()">
                              <span class="btn-text" ><span>Learn More</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="2 / 4" style="width: 356.5px; margin-right: 15px;">
                       <div class="service-item style-1">
                          <div class="service-img">
                            <img src=" {% static  'images/service/service-1.webp' %}" alt="">
                          </div>
                           <div class="service-icon">
                            <i class="tji-service-1"></i>
                          </div>
                         
                          <div class="service-content">
                            <h4 class="title"><a style="color:#1e8a8a">Software Development</a></h4>
                            <p class="desc">We develop custom software solutions to streamline operations and boost efficiency. From ERP and CRM systems to fully tailored applications, we bring your ideas to life.</p>
                            <a class="text-btn" onclick="scrollToFormsoft()">
                              <span class="btn-text"><span>Learn More</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 356.5px; margin-right: 15px;">
                        <div class="service-item style-1">
                          <div class="service-img">
                            <img src=" {% static  'images/webdevelopment.jpg' %}" alt="">
                          </div>
                            <div class="service-icon">
                            <i class="tji-service-3"></i>
                          </div>
                          
                          <div class="service-content">
                            <h4 class="title"><a style="color:#1e8a8a">Website Development </a></h4>
                            <p class="desc">We create high-quality, interactive websites tailored to your business goals. Using the latest tech and agile methods, we deliver fast, responsive, and engaging sites.</p>
                            <a class="text-btn" onclick="scrollToFormweb()">
                              <span class="btn-text"><span>Learn More</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                        <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="4 / 4" style="width: 356.5px; margin-right: 15px;">
                       <div class="service-item style-1">
                          <div class="service-img">
                            <img src=" {% static  'images/service/service-5.webp' %}" alt="">
                          </div>
                           <div class="service-icon">
                            <i class="tji-service-2"></i>
                          </div>
                          
                          <div class="service-content">
                            <h4 class="title"><a style="color:#1e8a8a">Application Development</a></h4>
                            <p class="desc">We build user-friendly, high-quality mobile apps tailored to your business needs. Our innovative and affordable solutions ensure seamless access for your customers.</p>
                            <a class="text-btn" onclick="scrollToFormapp()">
                              <span class="btn-text"><span>Learn More</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination-area white-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                      <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span>
                      <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                      <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
                    </div>
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-shape-1">
            <img src=" {% static  'images/shape/pattern-2.svg' %}" alt="">
          </div>
          <div class="bg-shape-2">
            <img src=" {% static  'images/shape/pattern-3.svg' %}" alt="">
          </div>
        </section>
        <!-- end: Service Section -->

          <!-- start: Cta Section -->
        <section class="tj-cta-section h7-cta section-gap-x" style="margin-top: 50px;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="cta-area h7-cta-inner">
                        <div class="cta-content">
                          <h6 class="title text-anim" style="font-size:40px;text-align:center"> <span style="color:#1e8a8a"> Techssoft </span> Innovations  Built For Business Excellence. </h6>
                          <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                            <a class="tj-primary-btn tj-primary-btn-lg" href="{% url 'contact' %}">
                              <span class="btn-text"><span>GET STARTED</span></span>
                              <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                            </a>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="bg-shape-3">
            <img src="{% static 'images/shape/shape-blur.svg'%}" alt="">
          </div>
        </section>
        <!-- end: Cta Section -->



            <section class="tj-service-section-5 " style="padding-top:50px; padding-bottom:50px;">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="sec-heading style-4 text-center">
             
                  <h3 class="sec-title title-anim" >Next-Gen <span style="color:#1e8a8a"> IT Solutions </span>to Optimize Your Operations.
                    </h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="service-wrapper">
                  <div class="service-item style-5 " id="ai">
                    <div class="service-content-area" >
                      
                      <div class="service-content" style="text-align:justify;">
                       
                        <h3 class="title" style="font-size:30px"><a>Artificial Intelligence</a></h3>
                        <p class="desc">Harnessing the power of artificial intelligence, we develop intelligent solutions that revolutionize how businesses operate and interact with data. Our AI technologies encompass machine learning, NLP , computer vision, and more, enabling organizations to extract valuable insights, automate repetitive tasks, and make data-driven decisions with confidence. Whether you're looking to optimize supply chain management with predictive analytics,our AI solutions are tailored to drive meaningful impact across your business.</p>
                        <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text"><span>Generative AI</span></span>
                        </a>
                         <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text" ><span>AI Automation </span></span>
                         </a>
                      </div>
                    </div>
                    <div class="service-img">
                      <img src=" {% static  'images/service/service-6.webp' %}" alt="">
                    </div>
                  </div>
                  <div class="service-item style-5 " id="software">
                   
                    <div class="service-img">
                      <img src=" {% static  'images/service/service-1.webp' %}" alt="">
                    </div>
                     <div class="service-content-area">
                      
                      <div class="service-content" style="text-align:justify">
                       
                        <h3 class="title" style="font-size:30px"><a>Software Development</a></h3>
                        <p class="desc">Our software applications are meticulously crafted to meet the evolving needs of modern businesses. From intuitive user interfaces to robust backend systems, we offer a range of customizable solutions designed to optimize workflows and deliver tangible results. Whether it's enterprise resource planning systems, customer relationship management platforms, or bespoke software tailored to your unique requirements, we have the expertise to bring your vision to life.</p>
                        <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text"><span>Development</span></span>
                        </a>
                         <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text" ><span>Maintenance</span></span>
                         </a>
                      </div>
                    </div>
                  </div>
                  <div class="service-item style-5" id="web">
                    <div class="service-content-area">
                     
                      <div class="service-content" style="text-align:justify;">
                       
                        <h3 class="title" style="font-size:30px"><a>Website Development</a></h3>
                        <p class="desc">Web Designers at our company understand your unique business needs and deliver you a highly interactive website to give you an edge over your competitors. We use the latest technologies to deliver high-quality and aesthetic websites with the help of our dedicated team, we implement flexible and agile methodologies with a continual engagement process with the client throughout the web designing process to deliver a website with interactive UI, lesser bounce rates, and optimized website to help your business grow exponentially.</p>
                         <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text"><span>E-Commerce</span></span>
                        </a>
                         <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text" ><span>Dynamic Website</span></span>
                         </a>
                      </div>
                    </div>
                    <div class="service-img">
                      <img src=" {% static  'images/service/service-7.webp' %}" alt="">
                    </div>
                  </div>
                   <div class="service-item style-5" id="app">
                   
                    <div class="service-img">
                      <img src=" {% static  'images/service/service-7.webp' %}" alt="">
                    </div>
                     <div class="service-content-area">
                     
                      <div class="service-content" style="text-align:justify;">                       
                        <h3 class="title" style="font-size:30px"><a>Application Development</a></h3>
                        <p class="desc">Our software applications are meticulously crafted to meet the evolving needs of modern businesses. From intuitive user interfaces to robust backend systems, we offer a range of customizable solutions designed to optimize workflows and deliver tangible results. Whether it's enterprise resource planning systems, customer relationship management platforms, or bespoke software tailored to your unique requirements, we have the expertise to bring your vision to life.</p>
                        <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text"><span>Web Application</span></span>
                        </a>
                         <a class="tj-primary-btn" style="height: 40px; width:49%">
                          <span class="btn-text" ><span>Mobile Application </span></span>
                         </a>
                        
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </section>





        

         


        <script>
  function scrollToFormai() {
    const form = document.getElementById("ai");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormsoft() {
    const form = document.getElementById("software");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormweb() {
    const form = document.getElementById("web");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>
 <script>
  function scrollToFormapp() {
    const form = document.getElementById("app");
    if (!form) return;
    const headerOffset = 100; // Adjust this to your fixed header height (e.g. 80 or 120)
    const elementPosition = form.getBoundingClientRect().top + window.scrollY;
    const offsetPosition = elementPosition - headerOffset;

    window.scrollTo({
      top: offsetPosition,
      behavior: "smooth"
    });
  }
</script>

       

        

        
      </main>

      <!-- start: Footer Section -->
      {% include 'footer.html' %}
      <!-- end: Footer Section -->
    </div>
  </div>
  
{% endblock content %}